---
import resume from '../components/Resume_Data_Helper';
import parseDate from '../components/Resume_Data_Helper';
const { work } = resume;

---

<div class="section section__experience">
    <h1 class="no-margin">Experiencia Laboral</h1>
    <div class="experiences">
        {work.sort((a,b) => {
            const parseDate = (date: string) => {
                if (date.toLowerCase() === 'present' || date.toLowerCase() === 'p') return new Date();
                const [month, year] = date.split('/');
                return new Date(parseInt(year), parseInt(month) - 1);
            };
            const datea = parseDate(a.endDate);
            const dateb = parseDate(b.endDate);
            return dateb.getTime() - datea.getTime();
        })
        .map((item, index)=>(
        <div class="experience">
                <a href={item.url}><h2 class="organization">{item.name}</h2></a>
                <p class="position">{item.position}</p>
                <div class="dates">
                    <div class="type">
                        <span class="type__title">{item.type.toUpperCase()}</span>
                    </div>
                    <p class="dat">{item.startDate} - {item.endDate.toUpperCase()}</p>
                </div>
                
                <p class="summary">{item.summary}</p>
                <ul class="highlights">
                    {item.highlights.map((highlight, index)=>(
                        <li>{highlight}</li>
                    ))}
                </ul>
        </div>
        ))}
    </div>
</div>

<style>
    .type{
        background-color: var(--derivado);
        text-align: center;
        color: white;
        border-radius: 0.5rem;
        font-size: 0.6rem;
        font-weight: bold;
        width: 3.5rem;
    }
    .dat{
        font-size: 0.6rem;
    }
    @media (min-width: 767px) {
        .dat{
            font-size: 0.7rem;
        }
        .type{
            text-align: center;
            color: white;
            border-radius: 0.5rem;
            font-size: 0.8rem;
            font-weight: bold;
            width: 4rem;
        }
    }
</style>